:root {
    --link-menu: rgb(252, 133, 36);
    --preto: #000;
    --branco: #FFF;
    --cor-de-fundo:#060131;
    --cor-menu:#00161C;
    --cor-fundo-sobre:#EDEBFE;
    --cor-fundo-projetos:#E9FBF8;
    --montserrat: 'Montserrat', sans-serif;
}