:root {
    --link-cabecalho: #56CCF2;
    --link-cabecalho-desktop: #E4F627;
    --preto: #000;
    --branco: #FFF;
    --cor-de-fundo:#060131;
    --cor-menu:#00161C;
    --cor-fundo-sobre:#EDEBFE;
    --cor-fundo-projetos:#E9FBF8;
    --cor-fundo-contato:#103D4A;
    --cinza:#8B8282;
    --montserrat: 'Montserrat', sans-serif;
}
.container {
    padding-right: 6%;
    padding-left: 6%;
}
.back-to-top {
    background-color: var(--cinza);
    bottom: 20px;
    border-radius: 4px 4px 0 0;
    color: var(--branco);
    display: none;
    font-size: 1.5rem;
    height: 25px;
    opacity: .7;
    position: fixed;
    right: 25px;
    text-align: center;
    text-transform: uppercase;
    transition: all .1s ease-in-out 0s;
    width: 35px;
    z-index: 100000;
}
.back-to-top:hover {
 background-color: var(--link-cabecalho-desktop);
}
@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
    .back-to-top {
        font-size: 2rem;
        height: 35px;
        width: 48px;
    }
}