.cabecalho {
    align-items: center;
    box-sizing: border-box;
    color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    padding-top: 2rem;
    position: absolute;
    width: 100%;
     
}
.cabecalho__navegacao {
    text-align: center;
}
.cabecalho__link {
    display: inline-block;
    font-size: .7rem;
    font-family: var(--montserrat);
    font-weight: 600;
    list-style: none;
    margin-left: .8rem;
    margin-right: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 3px 18px var(--cor-de-fundo);
    transition: background-color 1s, color var(--cor-de-fundo) 1s;
}
.cabecalho__navegacao a:active,
.cabecalho__navegacao a:hover {
    color:var(--link-cabecalho);
    
}
@media screen and (min-width: 768px) {
    .menu a {
        font-size: .9rem;
    }
    .cabecalho {
        align-items: center;
        flex-direction: row; /*deixando a direção em linha um elemento ao lado do outro*/
        justify-content: space-between; /*O primeiro item é deslocado para o início do eixo principal, o último é deslocado para o final do eixo principal e os demais são distribuídos uniformemente entre eles*/
        padding-top: 1.5rem;
    }
    .cabecalho__link {
        color: var(--cor-de-fundo);
        font-size:  1rem;
        font-weight: 600;
    }
}
@media  screen and (min-width: 1024px) {
    .cabecalho {
        align-items: center;
        flex-direction: row; /*deixando a direção em linha um elemento ao lado do outro*/
        justify-content: space-between; /*O primeiro item é deslocado para o início do eixo principal, o último é deslocado para o final do eixo principal e os demais são distribuídos uniformemente entre eles*/
        padding-bottom: 3rem;
   }
    .cabecalho__link {
        color: var(--cor-de-fundo);
        font-size:  1.2rem;
        font-weight: 600;
    }
    .cabecalho__navegacao a:active,
    .cabecalho__navegacao a:hover {
    color:var(--link-cabecalho-desktop);
    
}

}
