.contatos {
    align-items: center;
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.contatos__titulo {
    color: var(--branco);
    font-family: var(--montserrat);
    font-size: 2rem;
    padding-bottom: 4rem;
    padding-top: 1.5rem;
}
.contato__logo {
    color: var(--branco);
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.git, .instagram, .facebook, .linkedin {
    margin:20px;
}
@media screen and (min-width:768px) {
    .contatos__titulo {
    font-size: 1.7rem;
    }
}
@media screen and (min-width: 1024px) {
    .contatos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }
}