* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contatos {
    margin: auto;
    height: 100vh;
}
.contatos h2 {
    font-family: 'Comic Neue', cursive;
    font-size: 3em;
    color: #24DF82;
    padding-top: 120px;
}
.contatos .grid {
    display: grid;
    gap: -2em;
}

@media (min-width: 320px) {
    .contatos .grid {
        grid-template-columns: repeat(4, 40px);
        align-content: center;
        justify-content: center;
        font-size: 0.4em;
      }
      .contatos h2 {
        font-size: 2.2em;
      }
      /*.img-portfolio {
        height: 45px;
        width: 45px;
        object-fit: cover; Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar
        object-position: left bottom; mover a imagem dentro da caixa
        border-radius:45px; faz com que a imagem fique arredondada */
}
@media (min-width: 560px) {
    .contatos .grid {
        grid-template-columns: repeat(4, 60px);
        align-content: center;
        justify-content: center;
        font-size: 0.6em;
      }
      .contatos h2 {
        font-size: 3.1em;
      }
}
     /*.img-portfolio {
        height: 70px;
        width: 70px;
        object-fit: cover; Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar
        object-position: left bottom; mover a imagem dentro da caixa
        border-radius:45px; faz com que a imagem fique arredondada */
@media (min-width: 880px) {
    .contatos .grid {
        grid-template-columns: repeat(4, 90px);
        align-content: center;
        justify-content: center;
        font-size: 0.7em;
    }
}       
.contatos a {
    color: whitesmoke;
    font-size: 3.5em;
}
.contatos a:active,
.contatos a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(36, 223, 130,0.7); /*Primeiro valor eixo X, segundo eixo Y terceiro valor o quanto borrado ele vai ficar*/
}
.contatos .icons {
    text-align: center;
   /*mexer aqui para arrumar padding: 345px;*/

}



