.menu {
    padding-top: 1.75rem;
    padding-bottom: 2.75rem;
    border-bottom: 1px solid var(--branco);
    background-color: var(--cor-de-fundo);
        
}
.menu ul {
  display:flex;
  justify-content: space-evenly;
}
.menu li {
    list-style: none;
    text-shadow: 1px 3px 18px var(--branco);
    text-transform: uppercase;
}
.menu a {
    padding: 20px 20px;
    font-family: var(--montserrat);
    font-size: .7rem;
    color:var(--branco);
    text-decoration: none;
    transition: background-color 1s, color var(--branco) 1s;
}
.menu a:active,
.menu a:hover {
    color:var(--link-menu);
    
}