.principal {
    align-items: center;
    background: url(../img/fundo1.jpg) no-repeat;
    background-size: 100vw 110vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 23.3rem;
    padding-top: 11.25rem;
    text-align: center;
}
.site-title {
    color: var(--cor-de-fundo);
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.site-subtitle {
    color: var(--cor-de-fundo);
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;

}
.site-texto {
    color: var(--cor-de-fundo);
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 1rem;
    line-height: normal;
    margin: 0 auto 2.5rem;

}
@media screen and (min-width:500px ){
    .principal {
        padding-bottom: 3.7rem;
        }
}
@media screen and (min-width: 768px) {
    .site-texto {
    font-size: 1.1rem;
    max-width: 600px;
    color: var(--cor-de-fundo);
    font-weight: 600;
    }
    .site-subtitle {
    font-size: 1.5rem;
    color: var(--cor-de-fundo);
    font-weight: 600;
    }
    .site-title {
    font-size: 2.25rem;
    color: var(--cor-de-fundo);
    font-weight: 600;
    }
    .principal {
    padding-bottom: 13.5rem;
    }
}
@media  screen and (min-width: 1024px) {
    .principal {
    padding-bottom: 11.5rem;
    padding-top: 12rem;    
    }
    .site-subtitle, .site-texto, .site-title {
    color: var(--cor-de-fundo);
    font-weight: 600;
    }
    .site-texto {
    font-size: 1.5rem;
    max-width: 900px;
    }
    .site-subtitle {
    font-size: 2rem;
    }
    .site-title {
    font-size: 3rem;
    }

}
