.principal {
    align-items: center;
    background: url(../img/fundo1.jpg) no-repeat;
    background-size: 100vw 110vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.principal__conteudo{
    color: var(--cor-de-fundo);
    font-family: var(--montserrat);
    padding-bottom: 22.3rem;
    padding-top: 11.25rem;
}
.principal__titulo {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.principal__subtitulo {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
}
.principal__texto {
    font-weight: 500;
    font-size: 1rem;
    line-height: normal;
    margin: 0 auto 2.5rem;

}
@media screen and (min-width: 768px) {
    .principal__conteudo{
    color: var(--cor-de-fundo);
    font-weight: 600;
    padding-bottom: 10rem;
    }
    .principal__texto {
    font-size: 1.1rem;
    max-width: 600px;
    }
    .principal__subtitulo {
    font-size: 1.5rem;
    }
    .principal__titulo {
    font-size: 2.25rem;
    }
}
@media  screen and (min-width: 1024px) {
    .principal__conteudo {
    color: var(--cor-de-fundo);
    font-weight: 600;
    padding-bottom: 11rem;
    padding-top: 13rem;
    }
    .principal__texto {
    font-size: 1.5rem;
    max-width: 900px;
    }
    .principal__subtitulo {
    font-size: 2rem;
    }
    .principal__titulo {
    font-size: 3rem;
    }

}
