* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.projetos {
    margin: auto;
    min-height: 90vh;
    position: relative;
}
.projetos h2 {
    font-family: 'Comic Neue', cursive;
    font-size: 3em;
    color: #24DF82;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
}
.projetos .grid {
    display: grid;
    gap: 4em;
}
@media (min-width: 320px) {
     .img-projeto {
        height: 80px;
        width: 110px;
        object-fit: cover; /*Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar*/
        object-position: left bottom; /*mover a imagem dentro da caixa*/
        border-radius:20px;/*faz com que a imagem fique arredondada */
        transition: transform 500ms;
    }
    .img-projeto:hover {
        transform: scale(1.1);
    }
    .projetos h2 {
        font-size: 2.2em;
    }
    .projetos figcaption {
        padding:center;
        font-family: 'Noto Sans', serif;
        color: #24DF82;
        font-size: 0.8em;
    }
}
@media (min-width: 560px) {
    .projetos .grid {
      grid-template-columns: 250px 250px;
    }
    .projetos h2 {
        font-size: 3.1em;
      }
    .img-projeto {
        height: 180px;
        width: 250px;
        object-fit: cover; /*Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar*/
        object-position: left bottom; /*mover a imagem dentro da caixa*/
        border-radius:20px;/*faz com que a imagem fique arredondada */
    }
    .img-projeto:hover {
        transform: scale(1.1);
    }
    .projetos figcaption {
        padding:center;
        font-family: 'Noto Sans', serif;
        color: #24DF82;
        font-size: 1em;
    }
}
@media (min-width: 880px) {
    .projetos .grid {
      grid-template-columns: repeat(3, 250px);
      align-content: center;
      justify-content: center;
    }
    .img-projeto {
        height: 190px;
        width: 260px;
        object-fit: cover; /*Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar*/
        object-position: left bottom; /*mover a imagem dentro da caixa*/
        border-radius:20px;/*faz com que a imagem fique arredondada */
    }
    .img-projeto:hover {
        transform: scale(1.1);
    }
    .projetos figcaption {
    padding:center;
    font-family: 'Noto Sans', serif;
    color: #24DF82;
    font-size: 0.8em;
    text-align: center;
    }
}
.projetos figure {
    text-align: center;
}
.projetos a {
    text-decoration: none;
}





  

