.projetos {
    padding-top: 2rem;
    background-color: var(--cor-fundo-contato);
    
}
.projetos__titulo {
    font-family: var(--montserrat);
    color: var(--branco);
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.site {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin-bottom: 2rem;
}
.projetos a {
    text-decoration: none;
}
.site figcaption {
    font-weight: 700;
    font-size: 1rem;
    line-height: normal;
    font-family: var(--montserrat);
    margin-bottom: 1.3rem;
    color: var(--branco);
}
.img-ford, .img-ello, .img-barbearia, .img-apeperia {
    width: 100vw;
    max-width: 600px;
    align-items: center;

    margin-bottom: .5rem;
}
@media screen and (min-width: 768px) {
    .img-ford, .img-ello, .img-barbearia, .img-apeperia {
        width: 50vw;
    }
    .projetos__titulo {
        font-size: 1.7rem;
    }
}
@media screen and (min-width: 768px) {
    .img-ford, .img-ello, .img-barbearia, .img-apeperia {
        width: 35vw;
    }
}
