.projetos {
    background-color: var(--cor-de-fundo);
    padding-top: 2rem;
    
}
.projetos__titulo {
    color: var(--branco);
    font-family: var(--montserrat);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.site {
    align-items: center;
    display: flex;
    justify-content: ;
    flex-direction: column;
    margin-bottom: 2rem;
}
.projetos a {
    text-decoration: none;
}
.site__texto {
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 1.3rem;
    color: var(--branco);
}
.site__imagem {
    align-items: center;
    margin-bottom: .5rem;
    max-width: 600px;
    width: 100vw;

}
@media screen and (min-width: 768px) {
    .site__imagem {
    width: 50vw;
    }
    .projetos__titulo {
    font-size: 1.7rem;
    }
}
@media screen and (min-width: 1024px) {
    .site__imagem {
    width: 35vw;
    }
}
