.sobre {
    position: relative;
    padding-top: 2rem;
    padding-bottom: .4rem;
    background-color: var(--cor-fundo-sobre);
}
.sobre__titulo {
    font-family: var(--montserrat);
    color: var(--preto);
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.sobre p {
    margin: 20px;
    text-indent: 1.4em;
    margin-bottom: 1.2em;
    text-align: justify;
}
.avatar {
    display: none;
}
.sobre__texto {
    font-family: var(--montserrat);
    font-size: 1rem;
}
@media screen and (min-width:768px) {
    .sobre__titulo {
        font-size: 1.7rem;
    }
}