.voltar-ao-topo {
    background-image: url(../img/seta.png);
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    height: 50px;
    position: fixed;
    right: 20px;
    width: 50px;

}
.voltar-ao-topo:hover {
    cursor: pointer;
    background-position: o -60px;
}